body {
	background-color: rgb(48, 38, 102);
	color: rgb(255, 255, 255);
};
.centercontainer {
  height: 200px;
  position: relative;
  border: 3px solid green;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.followButton {
	text-align: right;
	padding-right: 15px;
}
.btn {
  border: none;
  color: white;
  padding: 6px 6px;
  font-size: 16px;
  cursor: pointer;
}