<!doctype html>
<html>
	<head>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
		<link href="/static/css/style.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<meta name="description" content="Sign up and share with people who have similar interests today :D">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="ShibaNet, Social, network, social network, shibanet">
	</head>
{% if "theme" in session %}
	<body class="{{ session['theme'] }}_theme">
{% else %}
	<body class="amethyst_theme">
{% endif %}

{% if not hidenav %}
		<header>
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			  <div class="container-fluid">
				<a class="navbar-brand" href="/">ShibaNet</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link" href="/">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/all">All</a>
						</li>
						{% if "username" in session %}
						<li class="nav-item">
							<a class="nav-link" href={{ url_for("submit") }}>Post</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ session["username"] }}</a>
							<ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
								<li><a class="nav-link" href={{ url_for("submit") }}>Post</a></li>
								<li><a class="nav-link" href={{ url_for("me") }}>Profile</a></li>
								<li><a class="nav-link" href={{ url_for("user_settings") }}>Settings</a></li>
							</ul>
						</li>
						{% endif %}
					</ul>
					<ul class="navbar-nav ml-auto">
						{% if "username" in session %}
						<li class="nav-item">
							<span class="badge badge-pill badge-primary" style="float:right;margin-bottom:-10px;">{{ notifs|count if notifs|count > 0 else ""}}</span>
							<a class="nav-link" data-bs-toggle="offcanvas" href="#notifications" role="button" aria-controls="notifications">Notifications</a>
						</li>
						{% endif %}
						
						<li class="nav-item">
						{% if "username" in session %}
						<a class="nav-link" href="/logout" onclick="return confirm('Are you sure?')">Logout</a>
						{% else %}
						<a class="nav-link" href={{ url_for("login") }}>Login</a>
						{% endif %}
						</li>
      				</span>
					</ul>
				</div>
			  </div>
			</nav>
		</header>
{% endif %}
		<div class="main">
			{% block content %}
			{% endblock %}
		</div>

		<div style="color:white;" class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="notifications" aria-labelledby="notificationsLabel">
			<div class="offcanvas-header">
				<h5 id="notificationsLabel">Notifications</h5>
				<a href="#" id="markread"><button class='btn btn-primary' onclick="this.value='Success!';">Mark All Read</button></a>
    			<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="offcanvas-body">
				{% for notif in notifs %}

				<div class="main">
						<h6><a class="no-highlight" href="{{ url_for('view_notif') }}?notif={{ notif['_id'] }}">{{ notif["title"]|markdown }}</a></h6>
						<div class="main">{{ notif["body"]|e|truncate(50)|markdown }}</div>
				<p class="timestamp">{{ notif["timestamp"] }}</p>
				</div>
				<hr>
				{% endfor %}
				You have no more new notifications
			</div>
		</div>
	</body>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
	<script data-ad-client="ca-pub-9866851955040612" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</html>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
    $(function() {
    	$('a#markread').bind('click', function() {
            $.getJSON('/mark_all_read',
                function(data) {}
			);
			return false;
    	});
    });
</script>