{% extends "base.html" %}

{% block title %}Help - {% endblock %}

{% block content %}
<br>
<h3>Got a problem? Don't worry, we've got you!</h3>

<p>If you don't know how to do something on ShibaNet, go check out <a href="/u/ShibaNet_Tutorials">ShibaNet Tutorials</a>! If they don't have a tutorial, ask them for one in the comments or just tag <a href="/u/ShibaNet_Tutorials">@ShibaNet Tutorials</a></p>

<h3>Feedback/Help form</h3>

<form action="{{ url_for('help') }}" method="POST" class="form-signin">
	<div class="form-group">
		<input style="width:50%" type="title" class="form-control" name="title" placeholder="Title*" autofocus><br>
		<textarea style="width: 75%" class="form-control" id="body" name="body" rows="7" placeholder="Body*" maxlength="1000"></textarea><br>
		<input type="submit" class="btn btn-primary" value="Send!" style="text-align: center;" onClick="OnSubmit(this);">
	</div>
</form>

{% endblock %}