{% extends "base.html" %}
{% block content %}
<title>Search - ShibaNet</title>
<script>
    var sortBy = 'searchPosts';
	var search = '{{ request.args["q"] }}';
</script>

<h2>Search result for "{{ request.args["q"] }}"</h2><br>

<ul class="nav nav-tabs" id="myTab" role="tablist">
	<li class="nav-item" role="presentation">
		<button class="nav-link active" id="posts-tab" data-bs-toggle="tab" data-bs-target="#posts" type="button" role="tab" aria-controls="posts" aria-selected="true">Posts</button>
	</li>
  	<li class="nav-item" role="presentation">
    	<button class="nav-link" id="users-tab" data-bs-toggle="tab" data-bs-target="#users" type="button" role="tab" aria-controls="users" aria-selected="false">Users</button>
  	</li>
  	<li class="nav-item" role="presentation">
    	<button class="nav-link" id="categories-tab" data-bs-toggle="tab" data-bs-target="#categories" type="button" role="tab" aria-controls="categories" aria-selected="false">Categories</button>
  	</li>
</ul>
<br>
<div class="tab-content" id="myTabContent">
	<div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
		<h2>Found posts</h2>
		
		{% include 'post/template.html' %}
	</div>
	<div class="tab-pane fade" id="users" role="tabpanel" aria-labelledby="users-tab">
		<h2>Found users</h2>
		{% for user in users %}
		<hr>
		<h3>
			<a href='{{ url_for("view_user", username=user["name"]) }}'>
				<img src="{{ user['pfp'] }}" onerror="this.onerror=null; this.src='https://avatars.dicebear.com/api/jdenticon/{{ user['name'] }}.svg'" alt="User's pfp" class="rounded" width="30px" height="30px">{{ user["name"] }}
			</a>
		</h3>
		<p>{{ user["bio"]|e|truncate(75)|markdown }}</p>
		{% endfor %}
	</div>
	<div class="tab-pane fade" id="categories" role="tabpanel" aria-labelledby="categories-tab">
		<h2>Found categories</h2>
		{% for category in categories %}
			{{ category }}
		{% endfor %}
	</div>
</div>

{% endblock %}