{% extends "base.html" %}
{% block content %}
<title>{{ post["title"] }} - ShibaNet</title>
<meta name="description" content="{{ post['bio']|e }}">
<meta name="author" content="{{ post['author'] }}">

<h2>{{ post["title"]|e|mentions|markdown }}</h2>
<p style="font-size: 30px;">
	Posted by <a href='{{ url_for("view_user", username=post["author"]) }}'>
		<img src="{{ post['author']|pfp }}" onerror="this.onerror=null; this.src='https://avatars.dicebear.com/api/jdenticon/{{ post['author'] }}.svg'" alt="User's pfp" class="rounded" width="30px" height="30px">{{ post["author"] }}
	</a>
</p>

<div class="{{ post['type'] }}_post">
	{{ post["body"]|e|mentions|markdown }}
</div>

{% include 'post/buttons.html' %}

<br><br><p class="timestamp">Posted on {{ post["timestamp"]|pretty_time }}</p>

{%- for cmt in comments recursive %}
	<hr>
	<h6>
		Posted by 
		<a href='{{ url_for("view_user", username=cmt["author"]) }}'>
			{{ cmt["author"] }}
		</a>
	</h6>
    <div>
		{{ cmt["body"]|e|mentions|markdown }}

		{% include 'post/cmt_buttons.html' %}

    	{%- if cmt["children"] -%}
			<div class="comment">
				{{ loop(cmt["children"]) }}
			</div>
    	{%- endif %}
	</div>
{%- endfor %}

{% endblock %}