{% extends "base.html" %}
{% block content %}
<title>Login - ShibaNet</title>
<div class="centercontainer">
	<div class="center">
		<h3 style="text-align: center;">Log in</h3>
		{% if error %}
		<div class="alert alert-danger" role="alert">
			{{ error }}
		</div>
		{% endif %}
		<form action="{{ url_for('login') }}" method="POST" class="form-signin">
			<div class="form-group">
				<input type="username" class="form-control" name="username" id="username" placeholder="Username or Email" required autofocus><br>
				<input type="password" class="form-control" name="password" placeholder="Password" required><br>
				<input style="width: 100%" type="submit" class="btn btn-primary" value="Log in" style="text-align: center;">
			</div>
		</form><br>
		<a style="width: 100%" class="btn btn-secondary" role="button" href="{{url_for('register')}}" style="text-align: center;">Dont have an account?</a><br><br>
		<a style="width: 100%" class="btn btn-secondary" role="button" href="{{url_for('forgot_password')}}" style="text-align: center;">Forgot password?</a>
	</div>
</div>
{% endblock %}