{% extends "base.html" %}
{% block content %}
<title>{{ user["name"] }} - ShibaNet</title>

<script>
    var sortBy = 'User';
	var user = "{{ user['name'] }}";
</script>

<img src="{{ user['pfp'] }}" onerror="this.onerror=null; this.src='https://i.imgur.com/WxNkK7J.png'" alt="" class="rounded" width="100px" height="100px">
<h2>{{ user["name"] }}</h2>
{{ user["bio"]|e|truncate(75)|markdown }}
<div class="followButton">
	{% if friends %}
	You are friends
	{% endif %}

	{% if user["name"] != session["username"] %}
	<a href="{{ user['name'] }}?follow=1"> Follow{% if following %}ing{% endif %} </a>
	{% else %}
	<a href="{{ url_for('user_settings') }}">Settings</a>
	{% endif %}
</div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
	<li class="nav-item" role="presentation">
		<button class="nav-link active" id="posts-tab" data-bs-toggle="tab" data-bs-target="#posts" type="button" role="tab" aria-controls="posts" aria-selected="true">Posts</button>
	</li>
  	<li class="nav-item" role="presentation">
    	<button class="nav-link" id="comments-tab" data-bs-toggle="tab" data-bs-target="#comments" type="button" role="tab" aria-controls="comments" aria-selected="false">Comments</button>
  	</li>
  	<li class="nav-item" role="presentation">
    	<button class="nav-link" id="about-tab" data-bs-toggle="tab" data-bs-target="#about" type="button" role="tab" aria-controls="about" aria-selected="false">About</button>
  	</li>
</ul>
<div class="tab-content" id="myTabContent">
	<div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
		<br>

		<h3>Posts by {{ user["name"] }}</h3>

		{% include 'post/template.html' %}
	</div>
	<div class="tab-pane fade" id="comments" role="tabpanel" aria-labelledby="comments-tab">
		<br>

		{% for cmt in user_comments %}

		<h4><a href={{ url_for("view_comment", cmt_id=cmt["_id"]) }}>Replying to "{{ cmt|getparenttitle|truncate(20) }}"</a></h4>

		<div class="text_post">
			{{ cmt["body"]|e|markdown }}
		</div>

		{% include 'post/cmt_buttons.html' %}

		<hr>
		{% endfor %}
	</div>
	<div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab">
		<br>
		{{ user["bio"]|e|markdown }}
	</div>
</div>

{% endblock %}